<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="InterjetWeb">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/java"/>
        <wb-resource deploy-path="/" source-path="/web"/>
        <property name="context-root" value="InterjetWeb"/>
        <property name="java-output-path" value="/InterjetWeb/web/WEB-INF/classes"/>
    </wb-module>
</project-modules>
