/* 
    Document   : interjet
    Created on : 23-sep-2012, 23:14:51
    Author     : Salvador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html
{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color:white;
    background-color: #414040;
}

td{
    font-family: arial;
    font-size: 12px;
    color:white;
    vertical-align: top;
}

.tdTop
{
    font-weight: bold;
}

.title
{
    font-family: arial;
    font-size: 12px;
    color:white;
    
}

.title2
{
    font-family: arial;
    font-size: 12px;
    color:white;
}

input{
    width: 240px;
    height: 35px;
    font-family: arial;
    font-size: 14px;    
}

.styled-select select {
   width: 268px;
   padding: 5px;
   font-size: 20px;
   border: 1px solid #ccc;
   height: 34px;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background:#e6e6e6;
           /* Required for IE 5, 6, 7 */         /* ...or something to trigger hasLayout, like zoom: 1; */         width: 100%;           /* Theoretically for IE 8 & 9 (more valid) */         /* ...but not required as filter works too */         /* should come BEFORE filter */         -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";          /* This works in IE 8 & 9 too */         /* ... but also 5, 6, 7 */         filter: alpha(opacity=90);          /* Older than Firefox 0.9 */         -moz-opacity:0.9;          /* Safari 1.x (pre WebKit!) */         -khtml-opacity: 0.9;          /* Modern!         /* Firefox 0.9+, Safari 2?, Chrome any?         /* Opera 9+, IE 9+ */         opacity: 0.9; 
}
#overlay div {
     width:80px;
     height:80px;
     margin: 100px auto;
     background-color: white;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}