/* 
    Document   : interjet
    Created on : 23-sep-2012, 23:14:51
    Author     : Salvador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html
{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color:white;
    background-color: #414040;
}

td{
    font-family: arial;
    font-size: 12px;
    color:white;
}

.title
{
    font-family: arial;
    font-size: 12px;
    color:white;
    
}

.title2
{
    font-family: arial;
    font-size: 12px;
    color:white;
}

input{
    width: 240px;
    height: 35px;
    font-family: arial;
    font-size: 14px;    
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}